<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-PoXp2V33EorTpcYCkvBPAORWzORRD8M</string>
	<key>GCM_SENDER_ID</key>
	<string>583775806105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ltpApp</string>
	<key>PROJECT_ID</key>
	<string>lets-talk-business-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-talk-business-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583775806105:ios:d753e93e513cf7da2e0e08</string>
</dict>
</plist>